{
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "html"
            }
        }
    ]
}